.container{
    width: 1785px;
    height: 600px;
    padding: 20px;
    display: flex;
}
 
.container.five, .one{
    background-color: #1f2937;
}

.container.three{
    background-color: #e5e7eb;
}

/*container one starts*/

.top{
    width: 140px;
height: 40px;

}





/*container 2 starts*/

/*container 5 starts*/
.copyright{
    display: flex;
 align-items: center;
color: #e5e7eb;
padding: 40px;
}



.container.two{
    justify-content: center;
    display: inline-block;
   
 }


.container.five{
  height: 100px;
  width: 1785px;
}