.container{
    width: 1785px;
    height: 600px;
    padding: 20px;
    display: flex;
}
 
.container.five, .one{
    background-color: #1f2937;
}

.container.three{
    background-color: #e5e7eb;
}

/*container one starts*/

.image{
    height: 50px;
    width: 150px;
}
.heal{
    height: 80px;
    width: 400px;
    justify-content: end;
    display: flex;
}


.hmm{
    display: flex;
  width: 200px;
  height:40px;
  justify-content: space-between;
}

.meow{
    display: flex;
    justify-content: end;
    height: 40px;
    width: 70em;
}
.smirk{
    height: 200px;
    width: 250px;
}
.desk{
    display: flex;

flex-wrap:wrap-reverse;
width: 20em;
height: 20em;
}
/*container 2 starts*/


.container.two{
    justify-content: center;
    display: inline-block;
   
 }


.imagee{
    height: 100px;
    width: 200px;
 
}

.halo{
    display: flex;
   
    flex-direction: column;
}
